# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Keystore files
*.jks
*.keystore

# Keystore property file
keystore.properties

# Signing keys or credentials
signing/
secret/
*.pem
*.key

# Other temporary or private files
*.log
*.tmp
